<div class="container marginTop40px">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            <tr class="pointer" *ngFor="let user of users" (click)="selectUser(user)">
          
              <td> {{ user.name }}</td>
              <td> {{ user.age }}</td>
            </tr>
          </tbody>
        </table>
        
        <div class="card text-left detailContainer" *ngIf="selectedUser; else user_content; ">
            <div class="card-header">
            Selected User Details
          </div>
          <div class="card-block padding10px">
            <h4 class="card-title">{{selectedUser.name}}</h4>
            <p class="card-text">
              {{'Age: ' + selectedUser.age + '  ' + selectedUser.description}}
            </p>    
          </div>
        </div>
           
          <ng-template #user_content>
              <div class="detailContainer"> Click user to see the user information </div>
              
          </ng-template>
      
      </div>